/.venv
/postgres_db
quotes_website/quotes/__pycache__/__init__.cpython-312.pyc
quotes_website/quotes/__pycache__/admin.cpython-312.pyc
quotes_website/quotes/__pycache__/apps.cpython-312.pyc
quotes_website/quotes/__pycache__/forms.cpython-312.pyc
quotes_website/quotes/__pycache__/models.cpython-312.pyc
quotes_website/quotes/__pycache__/urls.cpython-312.pyc
quotes_website/quotes/__pycache__/views.cpython-312.pyc
quotes_website/quotes_website/__pycache__/__init__.cpython-312.pyc
quotes_website/quotes_website/__pycache__/settings.cpython-312.pyc
quotes_website/quotes_website/__pycache__/urls.cpython-312.pyc
quotes_website/quotes_website/__pycache__/wsgi.cpython-312.pyc
quotes_website/users/__pycache__/__init__.cpython-312.pyc
quotes_website/users/__pycache__/admin.cpython-312.pyc
quotes_website/users/__pycache__/apps.cpython-312.pyc
quotes_website/users/__pycache__/forms.cpython-312.pyc
quotes_website/users/__pycache__/models.cpython-312.pyc
quotes_website/users/__pycache__/urls.cpython-312.pyc
quotes_website/users/__pycache__/views.cpython-312.pyc
quotes_website/.env
